<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change password</title>
</head>
<body>

    <%- include('partial/header', {userId : userId}) %>
    
    <% if(message != ''){ %>
        <article class="message is-warning is-block mx-6 is-round">
          <div class="message-header">
            <%= message %>
          </div>
        </article>
      <% } %>
  
      <!-- form login -->
  
      <section class="hero is-fullheight">
          <div class="hero-body">
            <div class="container">
              <div class="columns is-centered">
                <div class="column is-5-tablet is-4-desktop is-3-widescreen">
                  <form class="box" method="post">

                    <div class="field">
                      <label for="" class="label">Old Password</label>
                      <div class="control">
                        <input type="password" placeholder="*******" name="oldPassword" class="input">
                        <span class="icon is-small is-left">
                          <i class="fa fa-envelope"></i>
                        </span>
                      </div>
                    </div>

                    <div class="field">
                      <label for="" class="label">New Password</label>
                      <div class="control">
                        <input type="password" placeholder="*******" name="newPassword" class="input">
                        <span class="icon is-small is-left">
                          <i class="fa fa-lock"></i>
                        </span>
                      </div>
                    </div>

                    <div class="field">
                        <label for="" class="label">Retype Password</label>
                        <div class="control">
                          <input type="password" placeholder="*******" name="retypePassword" class="input">
                          <span class="icon is-small is-left">
                            <i class="fa fa-lock"></i>
                          </span>
                        </div>
                      </div>

                    <div class="field">
                      <button class="button is-success">
                        Change password
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </section>

</body>
</html>