body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url('https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.wallpaperflare.com%2Fwhite-and-black-soccer-ball-field-grass-sport-outdoors-green-color-wallpaper-aqho&psig=AOvVaw1IJPBZOnWMPWasjILVfzRk&ust=1677829958373000&source=images&cd=vfe&ved=0CBAQjRxqFwoTCLDM5ebhvP0CFQAAAAAdAAAAABAF');
}

a {
  color: #00B7FF;
}
